*{
 text-decoration: none; 
}

img:hover {
  transform: scale(1.01, 1.01);
  transition: 0.5s;
}
img {
  transition: 0.5s;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #0a0a0a;
  padding: 20px;
  margin: 10px;
  border-radius: 3px;
  flex: 100%;
  transition: 1s;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: solid 3px #6F88D8;
  color: white;
}  

@media (min-width: 600px) {
  .card {
    flex: 30%;
  }
}

@media (min-width: 1000px) {
  .card {
    flex: 15%;
  }
}
